---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Layout from '../layouts/Layout.astro'
import Map from '../components/Map.astro'
import Menu from '../components/Menu.astro'
---

<Layout title='Al Carbon es Mejor'>
  <Header />
  <main>
    <Hero />
    <Menu />
    <Map />
  </main>
  <Footer />
</Layout>
