<section class='flex flex-col items-center justify-center py-[76px] px-[80px]' id="map">
  <h2 class='text-4xl font-bold text-amber-950'>¿Donde Ubicarnos?</h2>
  <p class="text-lg mt-4 text-amber-950 opacity-60">Te ayudamos a ubicar nuestro local en Trujillo</p>
  <div class='flex flex-col items-center justify-center mt-6'>
    <iframe
      src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.2416247078156!2d-79.0433458!3d-8.111652199999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3d9f46ff8b3f%3A0x2eca53c7b6c691bf!2sAl%20Carbon%20es%20Mejor!5e0!3m2!1sen!2s!4v1623236172084!5m2!1sen!2s'
      width='600'
      height='450'
      style='border:0;'
      allowfullscreen=''
      loading='lazy'
      ></iframe>
  </div>
</section>
